
<%@page import="checkorderstatus.CheckOrderStatus_Service"%>
<html>
    <head>
        <title>Check Status Order</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="main.css" type="text/css"/>
    </head>
    <body>
        <form action="index.jsp" method="post">
             <label>Order Number:</label>
            <input type="text" name="orderNumber"><br>
             <label>Company:</label>
            <input type="text" name ="companyID"><br>
            <input type="submit"value="Check status">
        </form>
        
       
       </body>
</html>

